.App {
  width: 100vw;
  height: 100vh;

  padding: 1rem;
  box-sizing: border-box;

  display: grid;

  grid:
    [row1-start] "events  team  team hire" auto [row1-end]
    [row4-start] "kanban  kanban  kanban  kanban"  auto [row4-end]
    [row5-start] "kanban  kanban  kanban  kanban"  auto [row5-end]
    [row6-start] "roadmap    roadmap    roadmap    cash"    auto [row6-end]
      / auto auto auto auto;
}